<div th:fragment = "navbarUse">

  <div class="navbar-wrapper">
    <input type="checkbox" id="navbar-checkbox" class="navbar-checkbox">
    <label for="navbar-checkbox" class="navbar-toggle">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </label>
    <nav>
      <div class="navbarLinks">
        <ul>
          <li><a th:href="@{/}" th:class="${title == 'About Me'} ? 'active' : 'inactive'">About Me</a></li>
          <li><a th:href="@{Projects}" th:class="${title == 'Projects'} ? 'active' : 'inactive'">Projects</a></li>
          <li><a th:href="@{ContactMe}" th:class="${title == 'Contact Me'} ? 'active' : 'inactive'">Contact Me</a></li>
        </ul>
      </div>
    </nav>
  </div>

</div>