/*set varibales*/
:root {
    /*Main background color*/
    --main-bg-color: #090909;

    /*Main common items(navbar) background color*/
    --main-common-bg-color: black;

    /*Main button color*/
    --main-bt-color: lightgreen;

    /*Main text color*/
    --main-text-color: white;


}

body {
    background-color: var(--main-bg-color);
}