<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{imports/BasePage :: head}"></head>
<body>
<div th:replace="~{imports/BasePage :: HeaderAndNavbarReplacement}"></div>

<div class="container">
    <div class="containerHeader">
        <div class="MyName">
            <h1>Saftiuc Bogdan</h1>
            <p>Computer Science Student</p>
        </div>
        <div class="MyPurpose">
            <p>
                My goal is to gain experience and knowledge about the IT industry.
                I have experience in Java from frameworks such as SpringBoot and modules from my university, Python from personal projects,
                SQL from web development, Front-End web development using HTML,CSS (plain and bootstrap),
                JavaScript and Back-End development using PHP with frameworks such as Laravel. I have gained basic industry skill from my part-time job and in
                depth experience about working as a team from my participation in the Common Wealth games. My current goal is learning Django web framework and MongoDB
            </p>
        </div>
    </div>
    <div class="containerBody">

        <!-- Left Side of the Container -->
        <div class="containerBodyLeft">

            <div class="SkillsSection">

                <div class="sectionName">
                    <h2>Skills</h2>
                </div>

                <div class="sectionBody">

                    <div class="skill">
                        <h5>Teamwork</h5>
                        <div class="SkillProgress">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                    </div>

                    <div class="skill">
                        <h5>Time Management</h5>
                        <div class="SkillProgress">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                    </div>

                    <div class="skill">
                        <h5>Adaptability</h5>
                        <div class="SkillProgress">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                    </div>

                    <div class="skill">
                        <h5>Communication</h5>
                        <div class="SkillProgress">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                    </div>

                    <div class="skill">
                        <h5>Problem Solving</h5>
                        <div class="SkillProgress">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>

                    <div class="skill">
                        <h5>Adaptability</h5>
                        <div class="SkillProgress">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>

                    <div class="skill">
                        <h5>Positivity</h5>
                        <div class="SkillProgress">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>

                    <div class="skill">
                        <h5>Leader Ship</h5>
                        <div class="SkillProgress">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>

                    <div class="skill">
                        <h5>Microsoft Office</h5>
                        <div class="SkillProgress">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>

                </div>

            </div>

            <!--   Skill section for programming languages         -->
            <div class="SkillsSection">

                <div class="sectionName">
                    <h2>Programming Languages</h2>
                </div>

                <div class="sectionBody">

                    <div class="skill">
                        <h5>Java</h5>
                        <div class="SkillProgress">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>

                    <div class="skill">
                        <h5>SQL</h5>
                        <div class="SkillProgress">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>

                    <div class="skill">
                        <h5>HTML & CSS</h5>
                        <div class="SkillProgress">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>

                    <div class="skill">
                        <h5>Python</h5>
                        <div class="SkillProgress">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>

                    <div class="skill">
                        <h5>PHP</h5>
                        <div class="SkillProgress">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>

                    <div class="skill">
                        <h5>JavaScript</h5>
                        <div class="SkillProgress">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>

                </div>

            </div>
            <!-- End of Skill section for programming languages -->

        </div>
        <!-- End of Left Side of the Container -->

        <!-- Right Side of the Container -->
        <div class="containerBodyRight">

            <!-- Start of education container -->
            <div class="educationContainer">

                <div class="sectionName">
                    <h2>Education</h2>
                </div>

                <!--  Start of Education Body   -->
                <div class="educationBody">

                    <!--   Start of Education Year      -->
                    <div class="educationYear">
                        <h4>2021 - 2025</h4>
                    </div>
                    <!--   End of Education Year    -->

                    <!--   Start of Education Details      -->
                    <div class="educationDetails">

                        <!--   Start of Education Title      -->
                        <div class="degreeName">
                            <h4>Bachelor of Science in Computer Science</h4>
                        </div>
                        <!--   End of Education Title    -->

                        <!--   Start of Education Institute      -->
                        <div class="instituteName">
                            <h6><a href="https://www.aston.ac.uk/" target="_blank"> Aston University</a></h6>
                        </div>
                        <!--   End of Education Institute    -->

                        <!--   Start of Education Description      -->
                        <div class="degreeDescription">
                            <p>For this degree at Aston University I have studied the following modules:  </p>

                            <div class="moduleList">
                                <ul class="moduleList">
                                    <li>Software Engineering</li>
                                    <li>Database Systems</li>
                                    <li>Computer Networks</li>
                                    <li>Computer Security</li>
                                    <li>Web Development</li>
                                    <li>Mobile Development</li>
                                    <li>Artificial Intelligence</li>
                                    <li>Machine Learning</li>
                                    <li>Computer Vision</li>
                                    <li>Big Data</li>
                                    <li>Cloud Computing</li>
                                    <li>Internet of Things</li>
                                </ul>
                            </div>


                        </div>
                        <!--   End of Education Description    -->

                    </div>
                    <!--   End of Education Details    -->

                </div>
                <!--  End of Education Body   -->
            </div>
            <!-- End of education container -->

        </div>
        <!-- End of Right Side of the Container -->
    </div>


</div>

<div th:replace="~{imports/BasePage :: ImportJS}"></div>
</body>
</html>